<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Panth_ExtraFee::config" title="Panth Extra Fee — Configuration"
                                      sortOrder="100"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Panth_ExtraFee::extra_fee" title="Extra Fee" sortOrder="50">
                    <resource id="Panth_ExtraFee::manage_rules" title="Manage Fee Rules" sortOrder="10"/>
                    <resource id="Panth_ExtraFee::view_order_fees" title="View Order Fees" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
